[submodule "dependencies/tinyobjloader"]
	path = dependencies/tinyobjloader
	url = git@github.com:tinyobjloader/tinyobjloader.git
[submodule "dependencies/pbrt-parser"]
	path = dependencies/pbrt-parser
	url = git@github.com:DBauer15/pbrt-parser.git
[submodule "dependencies/tinyexr"]
	path = dependencies/tinyexr
	url = git@github.com:syoyo/tinyexr.git
[submodule "dependencies/ufbx"]
	path = dependencies/ufbx
	url = git@github.com:ufbx/ufbx.git
[submodule "dependencies/tinyusdz"]
	path = dependencies/tinyusdz
	url = git@github.com:syoyo/tinyusdz.git
